#root {
  background-color: #fafaf3;
  margin: 0 auto;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px 10px;
  gap: 20px;
}

.season-picture img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  display: block;
}

.season-picture {
  position: relative;
  display: inline-block;
  width: 100%;
}

.overPicture {
  position: absolute;
  top: 55%;
  left: 20%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #fffdf2;
  text-align: center;
  gap: 100px;
}

.newSeason {
  font-size: 32px;
  color: #fffdf2;
}

.newInButton {
  background-color: transparent;
  color: #fffdf2;
  border: 2px solid #fffdf2;
  padding: 10px 25px 10px 15px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.6s;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .overPicture {
    top: 50%;
    left: 25%;
    gap: 100px;
  }

  .newSeason {
    font-size: 26px;
  }
}

@media (max-width: 767px) {
  .season-picture img {
    height: 300px;
  }

  .overPicture {
    top: 45%;
    left: 35%;
    gap: 50px;
  }

  .newSeason {
    font-size: 26px;
    text-align: left;
    width: 65%;
  }

  .newInButton {
    padding: 10px 15px 10px 15px;
    font-size: 14px;
  }
}

.newInButton {
  padding: 10px 15px 10px 15px;
  font-size: 14px;
}

.newInButton:hover {
  background-color: #fffdf2;
  color: #989899;
}

video {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: 80% 65%;
}

@media screen and (max-width: 767px) {
  video {
    height: 300px;
  }
}

.newsletter {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #fdd9b9;
  padding: 25px;
}

.newsletter h2 {
  margin: 0;
}

.newsletter p {
  width: 70%;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 5px;
  font-family: "Montserrat", sans-serif;
}

form input {
  padding: 10px;
  border: 1px solid #989899;
  border-radius: 5px;
  width: 40%;
  font-family: "Montserrat", sans-serif;
}

form button {
  background-color: transparent;
  color: #333;
  border: 1px solid #333;
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.6s;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  max-width: 170px;
  margin-top: 16px;
}

form button:hover {
  background-color: #333;
  color: #fdd9b9;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .newsletter {
    margin-bottom: 55px;
  }

  .newsletter p {
    width: 90%;
  }
  form input {
    width: 70%;
  }

  form button {
    width: 35%;
  }
}

@media screen and (max-width: 767px) {
  .newsletter {
    padding: 15px;
    margin-bottom: 50px;
  }

  .newsletter p {
    width: 100%;
  }

  form input {
    width: 95%;
  }

  form button {
    width: 60%;
  }
}
